<footer>

    <div class="container" style="position: fixed; bottom: 0; left: 0;">
        <div class="row">
            <div class="col-md-12">
                <p>&copy; <%= new Date().getFullYear()%> Novago. Tous droits réservés.</p>
            </div>
        </div>
    </div>

</footer>