<nav class="navbar navbar-expand-lg navbar-dark" style="background: rgba(0, 0, 0, 0.60);">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">NovaGo</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ms-auto">
				<% if (est_connecte && est_admin) { %>
					<!-- Navbar pour les administrateurs -->
					<li class="nav-item">
						<a class="nav-link custom-font-navbar" href="/deconnexion">Se déconnecter</a>
					</li>
					<li class="nav-item">
						<a class="nav-link custom-font-navbar" href="/exploration">Exploration</a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link custom-font-navbar" href="/administrateur">Page Admin</a>
					</li>
					
				<% } else if (est_connecte) { %>
					<!-- Navbar pour les utilisateurs connectés -->
					<li class="nav-item">
						<a class="nav-link custom-font-navbar" href="/wishlist">Liste de souhaits</a>
					</li>
					<li class="nav-item">
						<a class="nav-link custom-font-navbar" href="deconnexion">Se déconnecter</a>
					</li>
					<li class="nav-item">
						<a class="nav-link custom-font-navbar" href="/exploration">Exploration</a>
					</li>

					<li class="nav-item">
						<a class="nav-link custom-font-navbar" href="/success">Billets</a>
					</li>

				<% } else { %>
					<!-- Navbar pour les visiteurs -->
					<a class="nav-link custom-font-navbar" href="/inscription">S'inscrire</a>
					</li>
					<li class="nav-item">
						<a class="nav-link custom-font-navbar" href="/connexion">Se connecter</a>
					</li>
					<li class="nav-item">
						<a class="nav-link custom-font-navbar" href="/exploration">Exploration</a>
					</li>
				<% } %>
			</ul>
		</div>
	</div>
</nav>