<nav class="navbar navbar-expand-lg navbar-dark" style="background: rgba(0, 0, 0, 0.60);">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">NovaGo</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item">
					<a class="nav-link custom-font-navbar" href="/inscription">S'inscrire</a>
				</li>
				<li class="nav-item">
					<a class="nav-link custom-font-navbar" href="/connexion">Se connecter</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle custom-font-navbar" href="#" id="navbarDropdownMenuLink"
						role="button" data-bs-toggle="dropdown" aria-expanded="false">Menu</a>
					<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
						<li><a class="dropdown-item custom-font-dropdown" href="/principal">Principal</a></li>
						<li><a class="dropdown-item custom-font-dropdown" href="#">Engins</a></li>
						<li><a class="dropdown-item custom-font-dropdown" href="#">À propos de nous</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>