@font-face {
    font-family: 'Iceland';
    src: url('../fonts/Iceland-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PPStellar';
    src: url('../fonts/PPStellar-Light.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}