<%- include ("../partials/header.ejs") %>

    <script>
        var nomPage = " | Se connecter";
        document.title += nomPage;
    </script>

    <div class="container-fluid" style="margin-top: 10%;">
        <div class="row">
            <div class="col"></div>

            <div class="col-md-auto">
                <h1 class="custom-font-titles text-center">Connexion</h1>
                <% if (erreur) { %>
                    <div class="alert alert-danger" role="alert">
                        <%= erreur %>
                    </div>
                    <% } %>
                        <form method="POST" action="/connexion">
                            <div class="row-md-auto">
                                <label for="email" class="form-label custom-font-labels">Entrez votre courriel</label>
                                <br>
                                <input type="email" id="email" name="email" class="form-control" placeholder="Courriel"
                                    required>
                            </div>
                            <div class="mb-3">
                                <label for="mdp" class="form-label custom-font-labels">Entrez votre mot de passe</label>
                                <br>
                                <input type="password" id="mdp" name="mdp" class="form-control"
                                    placeholder="Mot de passe" required>
                            </div>
                            <button type="submit"
                                class="btn btn-outline-light btn-lg custom-font-planet-p position-relative top-0 start-50 translate-middle-x">Connexion
                                au
                                compte</button>
                        </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <%- include ("../partials/footer.ejs") %>