<%- include ("../partials/header.ejs") %>
    <div class="row">
        <div class="col"></div>

        <div class="col">
            <h1 class="custom-font-titles">Connexion</h1>
            <form>
                <div class="mb-3">
                    <label for="email" class="form-label custom-font-labels">Entrez votre courriel</label> <br>
                    <input type="email" id="email" name="email" placeholder="Courriel">
                </div>
                <div class="mb-3">
                    <label for="mdp" class="form-label custom-font-labels">Entrez votre mot de passe</label> <br>
                    <input type="password" name="mdp" placeholder="Mot de passe">
                </div>
                <submit class="btn btn-primary">Connexion au compte</submit>
            </form>
        </div>
        <div class="col"></div>
    </div>
    <%- include ("../partials/footer.ejs") %>