<%- include ("../partials/header.ejs") %>
<!--Champ d'affichage des erreurs lors de connexion-->
    <div>
        <span id="message_negatif" class="custom-message-negatif">
            <% if (typeof message_negatif !== 'undefined') { %>
                <%= message_negatif %>
            <% } %>
        </span>
    </div>
    
    <!--Affichage du nom de la page dans le titre du navigateur web-->
    <script>
        var nomPage = " | Se connecter";
        document.title += nomPage;
    </script>

    <div class="container-fluid" style="margin-top: 10%;">

        <div class="row">
            <div class="col"></div>

            <div class="col-md-auto">

                <!--Titre de la page-->
                <h1 class="custom-font-titles text-center">Connexion</h1>

                            <!--Champ d'entrée du courriel de l'utilisateur-->
                            <div class="row-md-auto">
                                <label for="email" class="form-label custom-font-labels">Entrez votre courriel</label>
                                <br>
                                <input type="email" id="email" name="email" class="form-control" placeholder="Courriel" required>
                            </div>

                            <!--Champ d'entrée du mot de passe de l'utilisateur-->
                            <div class="mb-3">
                                <label for="mdp" class="form-label custom-font-labels">Entrez votre mot de passe</label>
                                <br>
                                <input type="password" id="mdp" name="mdp" class="form-control" placeholder="Mot de passe" required>
                            </div>

                            <!--Boutton submit pour se connecter à un compte-->
                            <button type="button" onclick="post_connexion()" id="bouton_connexion"
                                class="btn btn-outline-light btn-lg custom-font-planete-p position-relative top-0 start-50 translate-middle-x">
                                Connexion au compte
                            </button>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <script>
        function post_connexion(){
            const mdp_regex = new RegExp(".{8,}");
            const courriel_regex = new RegExp("^([a-zA-Z0-9._%-]+@+[a-zA-Z0-9.-]+\\.+[a-zA-Z]{2,4})+$");
            let message_erreur = "";
            const courriel_valide = courriel_regex.test(document.getElementById("email").value);
            const mdp_valide = mdp_regex.test(document.getElementById("mdp").value);

            if (courriel_valide && mdp_valide){
                document.getElementById("bouton_connexion").disabled = true;
                const f = fetch("connexion", {
                    method: "POST",
                    headers: {'Content-Type': 'application/json' },
                    body: JSON.stringify({
                        email: document.getElementById("email").value,
                        mdp: document.getElementById("mdp").value,
                    }),
                })
                .then(response => response.json())
                .then(data => {
                    if (typeof data.message_positif !== 'undefined'){
                        if (data.message_positif.includes("admin")){
                            window.location.href = "http://localhost:4000/administrateur";
                        } else {
                            window.location.href = "http://localhost:4000/";
                        }
                    } else {
                        document.getElementById("email").classList.add('is-invalid');
                        document.getElementById("mdp").classList.add('is-invalid');
                        
                        document.getElementById("bouton_connexion").disabled = false;
                        document.getElementById("message_negatif").textContent = data.message_negatif;
                    }
                }).catch((error) => {
                    console.error('Erreur:', error);
                });
            } else 
            if (!courriel_valide){
                document.getElementById("email").classList.add('is-invalid');
                message_erreur = "L'adresse courriel saisie est invalide. ";
            } else document.getElementById("email").classList.remove('is-invalid');
            
            if (!mdp_valide){
                document.getElementById("mdp").classList.add('is-invalid');
                message_erreur += "Le mot de passe doit être plus de 8 caractères.";
            } else document.getElementById("mdp").classList.remove('is-invalid');

            document.getElementById("message_negatif").textContent = message_erreur;
        }
      </script>
    <%- include ("../partials/footer.ejs") %>