<%- include ("../partials/header.ejs") %>
<!--Champ d'affichage des erreurs lors de connexion-->
    <div class="custom-message-negatif" id="message_negatif">
        <% if (typeof message_negatif !== 'undefined') { %>
            <%= message_negatif %>
        <% } %>
    </div>
    
    <!--Affichage du nom de la page dans le titre du navigateur web-->
    <script>
        var nomPage = " | Se connecter";
        document.title += nomPage;
    </script>

    <div class="container-fluid" style="margin-top: 10%;">

        <div class="row">
            <div class="col"></div>

            <div class="col-md-auto">

                <!--Titre de la page-->
                <h1 class="custom-font-titles text-center">Connexion</h1>

                            <!--Champ d'entrée du courriel de l'utilisateur-->
                            <div class="row-md-auto">
                                <label for="email" class="form-label custom-font-labels">Entrez votre courriel</label>
                                <br>
                                <input type="email" id="email" name="email" class="form-control" placeholder="Courriel" required>
                            </div>

                            <!--Champ d'entrée du mot de passe de l'utilisateur-->
                            <div class="mb-3">
                                <label for="mdp" class="form-label custom-font-labels">Entrez votre mot de passe</label>
                                <br>
                                <input type="password" id="mdp" name="mdp" class="form-control" placeholder="Mot de passe" required>
                            </div>

                            <!--Boutton submit pour se connecter à un compte-->
                            <button type="button" onclick="post_connexion()" href="deconnexion"
                                class="btn btn-outline-light btn-lg custom-font-planet-p position-relative top-0 start-50 translate-middle-x">
                                Connexion au compte
                            </button>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <script>
        function post_connexion(){
            const regex = new RegExp("[a-z]{8,}");
            console.log(regex.test(document.getElementById("mdp").value));
            if (regex.test(document.getElementById("email").value)){
                console.log("post_connexion");
                const f = fetch("connexion", {
                    method: "POST",
                    headers: {'Content-Type': 'application/json' },
                    body: JSON.stringify({
                        email: document.getElementById("email").value,
                        mdp: document.getElementById("mdp").value,
                    }),
                })
                .then(response => response.json())
                .then(data => {
                    document.getElementById("message_negatif").textContent = data.message_negatif;
                }).catch((error) => {
                    console.error('Erreur:', error);
                });
            }
        }
      </script>
    <%- include ("../partials/footer.ejs") %>