<%- include ("../partials/header.ejs") %>

    <div class="container-fluid text-center" style="margin-top: 5%;">
        <br>
        <div class="row">
            <div class="col">
                <h2 class="custom-font-planet-t">Jupiter</h2>
                <div class="bg-black d-flex p-2" style="margin: 5% 9% 5% 9%;">
                    <h5 class="custom-font-planet-p" style="text-align: justify;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </h5>
                </div>
            </div>
            <div class="col">
                <div class="text-center">
                    <img src="/images/ESA_Hubble_Jupiter_and_Europa.jpg" class="image-fluid m-2"
                        style="border-radius: 48%; width: 550px; height: 455px;" alt="Jupiter">
                </div>
            </div>
        </div>
        <br>
    </div>

    <%- include ("../partials/footer.ejs") %>