<%- include ("../partials/header.ejs") %>
    <div class="container-fluid"> <!--À mettre dans header-->
        <div class="row">
            <h1 class="custom-font-titles text-center">Créer un compte</h1>
            <div class="col"></div>

            <div class="col">
                
                <form>
                    <div class="row">
                        <div class="col">
                            <label for="prenom" class="form-label custom-font-labels">Entrez votre prénom</label> <br>
                            <input type="text" name="prenom" class="form-control" placeholder="Prénom">
                        </div>
                        <div class="col">
                            <label for="nom" class="form-label custom-font-labels">Entrez votre nom</label> <br>
                            <input type="text" name="nom" class="form-control" placeholder="Nom">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="email" class="form-label custom-font-labels">Entrez votre courriel</label> <br>
                            <input type="email" name="email" class="form-control" placeholder="Courriel">
                        </div>
                        <div class="col">
                            <label for="telephone" class="form-label custom-font-labels">Entrez votre numéro de téléphone</label> <br>
                            <input type="text" name="telephone" class="form-control" placeholder="Téléphone">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="planete" class="form-label custom-font-labels">Entrez votre objet céleste courrant</label> <br>
                            <input type="text" name="planete" class="form-control" placeholder="Planète / lune / autre">
                        </div>
                        <div class="col">
                            <label for="adresse" class="form-label custom-font-labels">Entrez votre adresse</label> <br>
                            <input type="text" name="adresse" class="form-control" placeholder="Adresse">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="mdp" class="form-label custom-font-labels">Entrez votre mot de passe</label> <br>
                            <input type="password" name="mdp" class="form-control" placeholder="Mot de passe">
                        </div>
                        <div class="col">
                            <label for="confirmation" class="form-label custom-font-labels">Confirmez votre mot de passe</label> <br>
                            <input type="password" name="confirmation" class="form-control" placeholder="Confirmer le mot de passe">
                        </div>
                    </div>
                </form>
            </div>
            
            <div class="col"></div>
        </div>
        <submit class="btn btn-primary position-relative top-0 start-50 translate-middle-x">Connexion au compte</submit>
    </div> <!--À mettre dans footer-->
<%- include ("../partials/footer.ejs") %>