<%- include ("../partials/header.ejs") %>
    <div class="custom-background">
    </div>

    <div class="container-fluid text-center mt-5">
        <br>
        <div class="row">
            <div class="col">
                <h2 class="custom-font-titles">Jupiter</h2>
                <div class="bg-black d-flex p-3" style="margin: 50px 220px 10px 220px;">
                    <h5 class="text-white custom-font-labels" style="text-align: justify;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </h5>
                </div>
            </div>
            <div class="col">
                <div class="text-center">
                    <img src="/static/images/ESA_Hubble_Jupiter_and_Europa.jpg" class="image-fluid m-2 rounded"
                        alt="Jupiter">
                </div>
            </div>
        </div>
        <br>
    </div>

    <%- include ("../partials/footer.ejs") %>