<%- include ("../partials/header.ejs") %>

    <div class="container-fluid text-center mt-1">
        <br>
        <div class="row">
            <div class="col">
                <h3>Jupiter</h3>
                <div class="d-flex p-2 text-white bg-dark">
                    <h6>BLALBLALBALBLABLA</h6>
                </div>
            </div>
            <div class="col">
                <div class="text-center">
                    <img src="..." class="rounded" alt="...">
                </div>
            </div>
        </div>
        <br>
    </div>

    <%- include ("../partials/footer.ejs") %>