<%- include ("../partials/header.ejs") %>

    <script>
        var nomPage = " | Reçu";
        document.title += nomPage;
    </script>

    <div class="bg-light-subtle shadow-lg mt-2" style="width: 360px; height: 100%; margin: auto; ">
        <ul class="list-group list-group-flush m-4">
            <li class="list-group-item mt-2">
                <h1 class="navbar-brand text-center">NovaGo</h1>
            </li>
            <li class="list-group-item custom-font-recu-black">
                <div class="col align-items-start">
                    <h5 style="font-weight: 600;">Contact Info</h5>
                    <div class="row">
                        <h6>Adresse : 10555 Ave de Bois-de-Boulogne, Montreal, QC H4N 1L4, Terre</h6>
                    </div>
                    <div class="row">
                        <h6>Email : novago@gmail.com</h6>
                    </div>
                    <div class="row">
                        <h6>Phone : (000) 000-0000</h6>
                    </div>
                </div>
            </li>
            <li class="list-group-item custom-font-recu-black mt-1">
                <div class="row">
                    <div class="col align-items-start">
                        <div class="row">
                            <div class="col">
                                <h6>Date : 2024-02-26</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h6>Transaction : 1234</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h6>Quantité de billet : 5</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h6>Rabais : 20%</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item custom-font-recu-black mt-1">
                <div class="col align-items-start">
                    <h5 style="font-weight: 600;">Détails de l'achat</h5>
                    <div class="row">
                        <div class="col">
                            <h6>Montant par billet :</h6>
                        </div>
                        <div class="col" style="text-align: right;">
                            <h6>10$</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h6></h6>
                        </div>
                        <div class="col" style="text-align: right;">
                            <h6>5 billets x 10$</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h6>Montant :</h6>
                        </div>
                        <div class="col" style="text-align: right;">
                            <h6>50$</h6>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item custom-font-recu-black mt-1">
                <div class="col align-items-start">
                    <div class="row">
                        <div class="col-sm-4">
                            <h6></h6>
                        </div>
                        <div class="col-sm-8" style="text-align: right;">
                            <h6>(rabais) 20% x 50$</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <h6>Réduction appliquée :</h6>
                        </div>
                        <div class="col-sm-4" style="text-align: right;">
                            <h6>10$</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <h6></h6>
                        </div>
                        <div class="col-sm-4" style="text-align: right;">
                            <h6>50$ - 10$</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <h6>Montant après réduction: </h6>
                        </div>
                        <div class="col-sm-4" style="text-align: right;">
                            <h6>40$</h6>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item custom-font-recu-black mt-1">
                <div class="col align-items-start">
                    <div class="row">
                        <div class="col-sm-8">
                            <h6>Frais de déplacement :</h6>
                        </div>
                        <div class="col-sm-4" style="text-align: right;">
                            <h6>200$</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <h6>Assurance du voyage :</h6>
                        </div>
                        <div class="col-sm-4" style="text-align: right;">
                            <h6>300$</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h6>Tax Spacial :</h6>
                        </div>
                        <div class="col" style="text-align: right;">
                            <h6>100$</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h6>Montant Total :</h6>
                        </div>
                        <div class="col" style="text-align: right;">
                            <h6>640$</h6>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item custom-font-recu-black mt-1">
                <div class="row">
                    <div class="col">
                        <h6 style="font-weight: 600;">Montant dû :</h6>
                    </div>
                    <div class="col" style="text-align: right;">
                        <h6 style="font-weight: 600;">640$</h6>
                    </div>
                </div>
            </li>
            <li class="list-group-item custom-font-recu-black mt-1">
                <div class="row">
                    <h6 style="font-weight: 600;">Avis de Non-Remboursement</h6>
                    <div class="col" style="text-align: justify">
                        <h6>Ce reçu est émis à titre de confirmation de paiement pour les
                            biens ou
                            services fournis et ne peut être remboursé. En acceptant ce reçu, le bénéficiaire reconnaît
                            et
                            accepte que les montants mentionnés sont définitifs et ne peuvent faire l'objet d'un
                            remboursement.
                        </h6>
                    </div>
                </div>
            </li>
            <li class="list-group-item custom-font-recu-black mt-1">
                <div class="row">
                    <div class="col" style="text-align: justify">
                        <h6>Merci pour votre achat. Nous apprécions votre confiance en nos services.
                        </h6>
                    </div>
                </div>
            </li>
        </ul>
    </div>


    <%- include ("../partials/footer.ejs") %>