<%- include ("../partials/header.ejs") %>

    <div class="bg-light-subtle  mt-2" style="width: 360px; height: 100%; margin: auto; ">
        <ul class="list-group list-group-flush m-4">
            <li class="list-group-item">
                <h1 class="navbar-brand text-center">NovaGo</h1>
            </li>
            <li class="list-group-item custom-font-recu-black">
                <div class="col align-items-start">
                    <h5 style="font-weight: 600;">Contact Info</h5>
                    <div class="row">
                        <h6>Adresse : </h6>
                    </div>
                    <div class="row">
                        <h6>Email : </h6>
                    </div>
                    <div class="row">
                        <h6>Phone : </h6>
                    </div>
                </div>
            </li>
            <li class="list-group-item custom-font-recu-black mt-1">
                <div class="row">
                    <div class="col align-items-start">
                        <div class="row">
                            <div class="col">
                                <h6>Date : 2024-02-26</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h6>Transaction : 1234</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h6>Nombre de billet : 5</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item custom-font-recu-black mt-1">
                <div class="col align-items-start">
                    <div class="row">
                        <div class="col">
                            <h6>Montant par billet :</h6>
                        </div>
                        <div class="col" style="text-align: right;">
                            <h6>10$</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h6></h6>
                        </div>
                        <div class="col" style="text-align: right;">
                            <h6>5 billets x 10$</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h6>Montant :</h6>
                        </div>
                        <div class="col" style="text-align: right;">
                            <h6>50$</h6>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item custom-font-recu-black mt-1">
                <div class="col align-items-start">
                    <div class="row">
                        <div class="col-sm-8">
                            <h6>Assurance du conducteur :</h6>
                        </div>
                        <div class="col-sm-4" style="text-align: right;">
                            <h6>200$</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <h6>Assurance du voyage :</h6>
                        </div>
                        <div class="col-sm-4" style="text-align: right;">
                            <h6>300$</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h6>Tax Spacial :</h6>
                        </div>
                        <div class="col" style="text-align: right;">
                            <h6>100$</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h6>Montant Total :</h6>
                        </div>
                        <div class="col" style="text-align: right;">
                            <h6>650$</h6>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">A fourth item</li>
        </ul>
    </div>


    <%- include ("../partials/footer.ejs") %>