<%- include ("../partials/header.ejs") %>

    <script>
        var nomPage = " | Réserver";
        document.title += nomPage;
    </script>

    <div class="container-fluid" style="margin-top: 3%;">
        <div class="row" style="background-color: white;">


            <div class="col-4 bg-secondary section">Liste de souhaits</div> <!--Apparait en gris-->
            <div class="col-4 bg-primary section">Liste de voyages</div><!--Apparait en bleu foncé-->
            <div class="col-4 bg-info section">Détails</div><!--Apparait en turquoise-->
            <!--<div class="col-md-auto">
                <form>
                    <div class="row-md-auto">
                        <label for="depart" class="form-label custom-font-labels">Départ</label>
                        <input type="text" name="depart" id="depart" class="form-control" placeholder="Depart">
                    </div>
                    <div class="mb-3">
                        <label for="destination" class="form-label custom-font-labels">Destination</label>
                        <input type="text" name="destination" id="destination" class="form-control"
                            placeholder="Destination">
                    </div>
                    <div class="mb-3">
                        <label for="date-aller" class="form-label custom-font-labels">Date de départ</label>
                        <input type="date" name="date" id="date" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="passagers" class="form-label custom-font-labels">Nombre de passagers</label>
                        <input type="number" name="passagers" id="passagers" class="form-control"
                            placeholder="Nombre de passagers">
                    </div>
                    <button type="submit" class="btn btn-primary">Réserver</button>
                </form>
            </div>-->
        </div>
    </div>

    <%- include ("../partials/footer.ejs") %>